/* Tips.css */
.card-tips {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5rem;
}

.card-title-tips {
    color: #343a40;
    font-size: 1.6rem;
}

.card-text-tips {
    color: #6c757d;
    font-size: 1.4rem;
}

.row-tips {
    margin-top: 30px;
}
